body{
    background-color: brown;
}
.container-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 50px;
    background-color: black;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: white;
}
p{
    color: white;
}

ul {
    margin:0;
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: white;
}
